html {
    background:#dbf0f0;
    font-family: "Kiwi Maru","HiraKakuProN-W6","HGGothicE",sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.faq {
    margin-bottom: 20px;
}

.faq h2 {
    cursor: pointer;
    color: #007BFF;
    display: flex;
    align-items: center;
}

.toggle-symbol {
    margin-right: 10px;
    font-weight: bold;
}

.answer {
    display: none;
    padding: 10px;
    background-color: #f1f1f1;
    border-left: 3px solid #007BFF;
}

