html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
div {
    display:block;
    unicode-bidi: isolate;
}   

body {
    color: #000;
    font-family: Noto Sans JP, YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 1.7;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    display: block;
}
.c-page-home__schedule-table-contents {
    width: 100%;
}
.c-page-home{
    display: block;
}
.c-page-home__schedule-table {
    display: flex;
    flex-wrap: nowrap;
    margin: 102px auto 0;
    position: relative;
    width: calc(100% - 238px);
}
.c-page-home__schedule-table-middle {
    display: flex;
    gap: 4px 6px;
    justify-content: space-between;
    width: 100%;
}

.c-page-home__schedule-table-content {
    background-color: #baebe7;
    margin-top: 4px;
    min-height: 100px;
    position: relative;
}
.c-page-home__schedule-table-time {
    margin-top: 84px;
}
.c-page-home__schedule-table-time {
    color: #007e86;
    font-size: 2rem;
    line-height: 0;
    margin-top: 104px;
    padding: 0 0 0 10px;
}

